@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    border: 4px solid gray;
    padding: 40px 0 40px 0;
    text-align: center;
}

h1{
    color: #0dd;
    font-weight: normal;
    margin: 0 0 10px 0;
}

h3{
    margin: 0;
}

nav{
    background: #555;
}

nav a{
    background: #222;
    color: #0dd;
    text-decoration: none;
    display: inline-flex;
    align-items: flex;
    padding: 10px;
}

nav a:hover{
    background: #333;
}

main{
    display: flex;
}

article{
    flex: 2;
    background: #eee;
    padding: 10px;
}

.art{
    font: 10px verdana;
}

.art span{
    border: 2px solid #0dd;
    padding: 4px;
    border-radius: 2px;
}

aside{
    flex: 1;
    padding: 10px;
}

footer{
    display: flex;
    background: #333;
    /* margin: 0;
    position: fixed;
    bottom: 0; */
}

footer section{
    color: #eee;
    flex: 1;
    padding: 10px;
}

h4{
    color: #0dd;
    margin: 0;
}

footer section p{
    margin: 0 0 4px 0;
}

#ven{
    background: url('images/venedig.jpg');
    background-size: cover;
}

#san{
    background: url('images/sangimignano.jpg');
    background-size: cover;
}

aside div{
    padding: 110px 10px 10px 10px;
    margin: 10px;
    background-size: cover;
}

aside div section{
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 10px
}

aside div section h5{
    font-family: verdana;
    font-size: 20px;
    margin: 0;
    color: #0dd;
}

aside div section p{
    font-family: verdana;
    font-size: 14px;
}

p{
    font-style: italic;
}

table{
    border: 2px solid gray;
    border-collapse: collapse;
    background: white;
    box-shadow: 10px 20px 30px;
}

td:first-child{
    background-color: lightslategray;
    padding: 5px;
    color: white;
    border-right: 2px solid gray;
}

tr:nth-child(even){
    background: lightgray;
}
