@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    border: 4px solid gray;
    text-align: center;
    padding: 40px 0 40px 0;
}

h1{
    color: #fc3;
    margin: 0 0 10px 0;
    font-weight: normal;
}

h3{
    margin: 0;
}

nav{
    background: #555;
}

nav a{
    background:#222;
    color: #fc3;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

nav a:hover{
    background: #333
}

main{
    display: flex;
}

article{
    flex: 2;
    background: #eee;
    padding: 10px;
}

.art{
    font: 10px verdana;
}

.art span{
    border: 2px solid #fc3;
    padding: 4px;
    border-radius: 4px;
}

aside{
    flex: 1;
    padding: 10px;
}

footer{
    display: flex;
    background: #333;
    position: fixed;
    bottom: 0;
}

footer section{
    flex: 1;
    color: #fff;
    padding: 10px;  
}

h4{
    color: #fc3;
    margin: 0px;
}

footer section p{
    margin: 4px 0 0 0;
}

#ven{
    background: url(images/venedig.jpg);
    background-size: cover;
}

#san{
    background: url(images/sangimignano.jpg);
    background-size: cover; 
}

aside div{
    padding: 110px 10px 10px 10px;
    margin: 10px;
    background-size: cover;
}

aside div section{
    background: rgba(0,0,0,0.5);
    color: #eee;
    padding: 10px;
}

aside div section h5{
    margin: 0;
    font-size: 20px;
    font-family: verdana;

}
aside div section p{
    font-size: 14px;
    font-family: verdana;
}

