body{
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    margin: 5%;
    color: black;
    transition: color 1s;
}

.playwrite-in-guides-regular a, h1{
    font-family: "Playwrite IN Guides", cursive;
    font-weight: 500;
    font-style: normal;
}

a:hover{
    color: rgb(143, 143, 254);
    text-decoration: solid black 1px;
}

h1{
    background-color: rgb(255, 208, 150);
    padding: 30px;
    margin: 0;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title{
    0%   {color: red;}
    50%  {color: rgb(0, 200, 0);}
    75%  {color: blue;}
    100% {color: red;}
}