body{
    background-color: antiquewhite;
    text-align: center;
}

a{
    display: inline-block;
    text-decoration: none;
    margin: 5%;
    color: black;
    transition: color 1s;
}

.playwrite-in-guides-regular a{
    font-family: "Playwrite IN Guides", cursive;
    font-weight: 500;
    font-style: normal;
}

a:hover{
    color: rgb(143, 143, 254);
    text-decoration: solid black 1px;
}