@charset "UTF-8";

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    grid-template-areas: 
    "a      b       c"
    "d      .       e"
    "f      g       h"
    "i      t       t"
    "j      t       t"
    ;
}

#a{
    background: url("Images/a.jpg");
    grid-area: a;
    background-size: cover;
}

#b{
    background: url("Images/b.webp");
    grid-area: b;
    background-size: cover;
}

#c{
    background: url("Images/c.jpg");
    grid-area: c;
    background-size: cover;
    border-top-right-radius: 50px;
}

#d{
    background: url("Images/d.jpg");
    grid-area: d;
    background-size: cover;
}

#e{
    background: url("Images/e.jpg");
    grid-area: e;
    background-size: cover;
}

#f{
    background: url("Images/f.jpg");
    grid-area: f;
    background-size: cover;
}

#g{
    background: url("Images/g.webp");
    grid-area: g;
    background-size: cover;
}

#h{
    background: url("Images/h.jpg");
    grid-area: h;
    background-size: cover;
    border-bottom-right-radius: 50px;
}

#i{
    background: url("Images/i.jpg");
    grid-area: i;
    background-size: cover;
}

#j{
    background: url("Images/j.jpg");
    grid-area: j;
    background-size: cover;
}

#t{
    grid-area: t;
    background-size: cover;
    font-family: 'Allura', cursive;
    font-size: 50px;
}