@charset "UTF-8";
/* main body* */
body{
    margin: 0;
    background-color: #AFCDE7;
}

/* Header */
header{
    text-align: center;
    background-color: #4A90A4;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    text-shadow: 20px 10px 10px rgb(222, 222, 222) ;
}

h1{
    text-align: center;
    font-size: 50px;
}

span{
  box-shadow: white ;
}

/* Nav */
nav{
    width: auto;
    background-color: #6C9FB5;
    padding: 10px 10px 10px 10px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 3%;
}

nav p{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    margin-right: 3%;  
}

nav a:hover{
    color: #94dfff;
}

/* Main */

main h2{
    font-size: 50px;
}

main p{
    font-size: 20px;
    color: black;
}

div{
    margin: 1% 10% 1% 10%;
    padding: 1% 5% 1% 5%;
    background-color: #FFFFFF;
    border-radius: 40px;
}

main{
    display: grid;
    justify-content: center;
    text-align: left;
    color: 	#2F3E46;
}

img{
    margin-left: 30%;
    margin-top: 20px;
    height: 250px;
}

/* Video */

iframe{
  margin-left: 29%;
  border-radius: 10%;
}

#credits{
  font-size: 20px;
  margin-left: 29%;
  margin-bottom: 50px;
  color: white;
}

/* Phone varient */

@media (max-width: 1000px){
    header h1{
        font-size: 40px;
    }

    main h2{
        font-size: 30px;
    }

    img{
        margin-left: 50px;
        margin-bottom: 5px;
        width: 80%;
    }

    nav a{
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        margin-right: 1%;
    }

    iframe{
      margin-left: 10%;
      width: 80%;
    }
    
    #credits{
      font-size: 20px;
      margin-left: 10%;
      margin-bottom: 50px;
      color: white;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6C9FB5;
    padding: 1rem;
    color: white;
    position: relative;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 5rem;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-shadow: 10px 5px 5px #000000;
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* ===== Mobil ===== */
  @media (max-width: 768px) {
  
    .menu-toggle {
      display: block;
    }
  
    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #3c819f;
      flex-direction: column;
      overflow: hidden;
  
      max-height: 0;
      transition: max-height 0.3s ease;
    }
  
    .menu li {
      text-align: center;
      padding: 1rem 0;
    }
  
    .menu.active {
      max-height: 600px; /* justera efter behov */
    }
  }