@charset "UTF-8";

body{
    margin: 0;
    background-color: rgb(253, 120, 142);
}

header{
    text-align: center;
    font-size: 100px;
}

h1{
    text-align: center;
    font-size: 50px;
}

main{
    text-align: center;
    padding: 0 10% 0 10%;
    margin: 0 20% 0 20%;
    color: rgb(164, 124, 24);
}

#p1{
    background-color: rgba(239, 212, 40);
}

#p2{
    background-color: rgba(94, 176, 57);;
}

#p3{
    background-color: rgba(60, 119, 55);
}

#p4{
    background-color: rgba(43, 84, 40);
}

#p5{
    background-color: rgba(29, 53, 29);
}