@charset "UTF-8";

  body{
    margin: 0;
    background-color: tan;
  }

  #circle-part{
    background-color: antiquewhite;
    border-radius: 15px;
    width: 50%;
    padding-right: 40%;
    margin-top: 1%;
  }

  #box-part{
    background-color: antiquewhite;
    border-radius: 15px;
    width: fit-content;
    font-size: 90%;
    margin-top: 1%;
  }

h1{
  margin: 0;
  text-align: center;
  background-color: rgb(255, 204, 137);
  padding: 100px;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

#box-part p{
  margin-left: 50px;
}

#box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: width 2s, height 2s, background-color 2s ; 
}
  
#box:hover {
  width: 300px;
  height: 300px;
  background-color: orange;
}
  
  #circle {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    border-radius: 50px;
    margin-top: 10px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @keyframes myAnimation {
    0%   {left:0px; top:0px;}
    25%  {left:350px; top:0px;}
    50%  {left:350px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
}

@media (min-width: 700px){
  
  #circle-part{
    background-color: antiquewhite;
    border-radius: 15px;
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
    padding: 1px 5% 0 5%;
  }
  
  #box-part{
    background-color: antiquewhite;
    border-radius: 15px;
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
    padding-right: 50px;
    padding-top: 1px;
  }
  #circle {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 30%;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    border-radius: 50px;
    margin-top: 10px;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 38%;
    transition: width 2s, height 2s, background-color 2s ; 
  }
    
  #box:hover {
    width: 300px;
    height: 300px;
    background-color: orange;
  }

  @keyframes myAnimation {
    0%   {left:0px; top:0px;}
    25%  {left:400px; top:0px;}
    50%  {left:400px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
}

}