@charset "UTF-8";

@charset "UTF-8";

body{
    background: lightgray;
    background-size: cover;
    size: 100vh;
    margin: 0;
}

header{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    background: rgba(100, 204, 79, 1.5);
    border: 4px ;
}

header h1{
    color: white;
}

h1{
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 50px;
    text-align: center;
}

nav{
    align-items: flex-end;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;

}

nav a{
    border: 1px solid lightgreen;
    background: rgba(173, 255, 47, 0.5);
    padding: 27px 0 20px 0;
    margin: 10px;
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    font-family: verdana;
    flex: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px
}   

nav a:hover{
    background-color: rgba(0, 100, 0, 0.5);
}

main{
    display: flex;
    color: #00FF66;
    
}

article{
    flex: 3;
    border-right: 2px solid green;
}

img{
    margin-bottom: 10px;
}

article p{
    color: black;
    font-weight: bold;
}

article p span{
    color: green;
}

aside{
    flex: 1;
    color: rgb(0, 0, 0);
    border-left: 2px solid green;
    font-size: small;
}

.year{
    margin-left: 30px;
    font-size: smaller;
}
aside li span{
    color: green;
}

aside li{
    margin: 10px;
}