@charset "UTF-8";

body{
    margin: 0;
    background: white;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

section{
    margin: 10px;
    background: #563208;
    color: #eee;
    border-radius: 10px;
    box-shadow: 4px 6px 4px #aaa;
}

header{
    color: #fff;
    font: 2em georgia;
}

header, footer{
    padding: .8rem; 
}

header h2{
    margin: 0;
}

div{
    height: 140px;
    background-size: cover;
    background-position: center;
}

#mars{
    background: url(Images/mars.jpg) center;
    background-size: cover;
}

#twix{
    background: url(Images/twix.jpg) center;
    background-size: cover;
}

#coco{
    background: url(Images/coco.png) center;
    background-size: cover;
}

#japp{
    background: url(Images/japp.jpg) center;
    background-size: cover;
}

#bounty{
    background: url(Images/bounty.jpg) center;
    background-size: cover;
}

