body {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  } 

  section{
    flex: wrap;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    text-align: left;
    margin: 10px;
  }