@charset "UTF-8";

ul{
    margin: 0;
    padding: 0;
}

#mainmenu{
    display: block;
    width: 150px;
    border: 1px solid black;
}

#mainmenu > li{
    position: relative;
}

#mainmenu > li:hover #submenu{
    display: block;
}

#submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    display: block;
    padding: 12px;
}

ul li{
    list-style-type: none;
}