body{
    background: burlywood;
}
p,h1,h6{
    color: white
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
}