@charset "UTF-8";

:root{
    font-size: 16px;
    --bg-light: hsl(200, 65%, 91%);
    --bg-dark: #333;
    --txt-light: hsl(200, 65%, 91%);
    --text-dark: hsl(200, 92%, 14%); 
    --art-dark: hsl(200, 92%, 14%);
    --art-light: hsl(200, 65%, 91%);
}

h5{
    font-size: 15px;
    margin: 16px 0 0 0;
    flex: 10;
}

h1{
    padding-bottom: 2%;
}

h1, p{
    margin: 0;
}

body{
    margin: 0;
    background: var(--bg-light);
    color: var(--txt-light);
}

article{
    height: 100vh;
    font-size: 40px;
    padding: 20px 0 0 20px;
}

#main{
    margin-top: 50px;
}

nav{
    background-color: gray;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

article h1,p{
    background: var(--art-dark);
}

#nav{
    margin-top: 50px;
}

a{
    margin: 15px 1% 0 1%;
    flex: 1;
}

nav p{
    font-weight: bold;
}
 
@media (max-width: 1000px){
    :root{
        font-size: 16px;
        --bg-light: hsl(200, 65%, 91%);
        --bg-dark: hsl(200, 16%, 4%);
    }

    body{
        margin: 0;
        background: var(--bg-dark);
        color: var(--text-dark);
    }

    article h1,p{
        background: var(--art-light);
    }
}