@charset "UTF-8";

body{
    background: lightgray;
    background-size: cover;
    size: 100vh;
    margin: 0;
}

header{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    background: rgba(100, 204, 79, 1.5);
    border: 4px ;
}

header h1{
    color: white;
}

h1{
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 50px;
    text-align: center;
}

nav{
    align-items: flex-end;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;

}

nav a{
    border: 1px solid lightgreen;
    background: rgba(173, 255, 47, 0.5);
    padding: 27px 0 20px 0;
    margin: 10px;
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    font-family: verdana;
    flex: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px
}   

nav a:hover{
    background-color: rgba(0, 100, 0, 0.5);
}

main{
    color: #00FF66;
}

article{
    display: grid;
    font-style: italic;
    background-color: gray;
    border-right: 2px solid green;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "ben         ben         ben"
    "blast        mut       ."
    "heat        wild         ."
    "head        eight        ."
    "diamond     xlr       ."
    "arms        matter        ."
    "four         gra      ."
    "grade     jaws       ."
    "upgrade     rip        ."
    "fly       freak         ."
    "stink       ghost       ."
    "ten         ten         ten"
    ;  
}

#Omnitrix{
    color: darkgreen;
}

article p{
    color: black;
    font-weight: bold;
    text-align: left;
}

article p span{
    color: white;
}

article p #heat, #wild, #diamond, #xlr, #four, #gray, #upgrade, #stink, #rip{
    border: 10px solid rgb(173, 255, 47);
    margin: 10px;
    margin-bottom: 70%;
}

img{
    margin-top: 100px;
    padding-left: 20px;
    background-size: cover;
}

#heat{
    grid-area: heat;
    border: 10px solid rgb(173, 255, 47);
    margin: 10px;
    margin-bottom: 70%;
}

#blast{
    grid-area: blast;
    margin: 10px 0 0 0;
}

#ben{
    grid-area: ben;
}

#ten{
    grid-area: ten;
}

#wild{
    grid-area: wild;
}

#mut{
    grid-area: mut;
    margin: 15px 0 0 0;
}

#diamond{
    grid-area: diamond;
}

#head{
    grid-area: head;
    margin: 15px 0 0 0;
}

#xlr{
    grid-area: xlr;
}

#eight{
    grid-area: eight;
    margin: 15px 0 0 0;
}

#four{
    grid-area: four;
}

#arms{
    grid-area: arms;
    margin: 15px 0 0 0;
}

#gray{
    grid-area: gra;
}

#matter{
    grid-area: matter;
    margin: 15px 0 0 0;
}

#upgrade{
    grid-area: upgrade;
}

#grade{
    grid-area: grade;
    margin: 18px 0 0 0;
}

#stink{
    grid-area: stink;
}

#fly{
    grid-area: fly;
    margin: 16px 0 0 0;
}

#rip{
    grid-area: rip;
}

#jaws{
    grid-area: jaws;
    margin: 15px 0 0 0;
}

#ghost{
    grid-area: ghost;
    border: 10px solid rgb(173, 255, 47);
    margin: 10px;
    margin-bottom: 70%;
}

#freak{
    grid-area: freak;
    margin: 18px 0 0 0;
}